@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
    margin: 0;
    padding: 0;

    background: url(../assets/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;

    padding-left: 7em;
    padding-right: 7em;
    padding-top: 2em;
}
* {
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
}

header img {
    height: 2.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Outfit", sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: normal;

    line-height: 0.8em;
}

.epicode-cyan-text {
    color: #00ffff;
}
.epicode-cyan-bg {
    background-color: #00ffff;
}
.epicode-pink-text {
    color: #d20094;
}
.epicode-pink-bg {
    background-color: #d20094;
}

.answer-button {
    background-color: #d20094;
}

.answer-button:hover {
    background-color: #900080;
}

/* panes */
main {
    padding-top: 3em;
}

#welcome-pane h3 {
    font-size: 30px;
    font-weight: bold;

    margin: 0;
}

#welcome-pane p {
    max-width: 70%;

    margin-bottom: 2.75em;
}

#welcome-pane ul {
    margin-bottom: 7em;
}

#welcome-pane ul li {
    margin-bottom: 0.5em;
}

#welcome-pane .promise {
    display: flex;
    justify-content: space-between;
}

#welcome-pane button {
    padding: 1em 2.5em 1em 2.5em;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    font-family: "Outfit", sans-serif;

    background-color: #00ffff;
    border-color: #00d1d1;

    /* soft glow */
    box-shadow: 0 0 1.5em #00ffff;

    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#welcome-pane button:hover {
    background-color: #00d1d1;
    border-color: #00a3a3;
}

.hidden {
    display: none;
}
