@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;

  overflow: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

* {
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  position: relative;

  padding-bottom: 4em;
}

header img {
  height: 2.5em;
  position: absolute;
  top: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: normal;

  line-height: 0.8em;
}

.epicode-cyan-text {
  color: #00ffff;
}
.epicode-cyan-bg {
  background-color: #00ffff;
}
.epicode-pink-text {
  color: #d20094;
}
.epicode-pink-bg {
  background-color: #d20094;
}

.answer-button {
  background-color: #d20094;
}

.answer-button:hover {
  background-color: #900080;
}

/* panes */
main {
  padding-top: 3em;
}

#welcome-pane h3 {
  font-size: 30px;
  font-weight: bold;

  margin: 0;
}

#welcome-pane p {
  max-width: 70%;

  margin-bottom: 2.75em;
}

#welcome-pane ul {
  margin-bottom: 7em;
}

#welcome-pane ul li {
  margin-bottom: 0.5em;
}

#welcome-pane .promise {
  display: flex;
  justify-content: space-between;
}

#welcome-pane button {
  padding: 1em 2.5em 1em 2.5em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  font-family: "Outfit", sans-serif;

  background-color: #00ffff;
  border-color: #00d1d1;

  /* soft glow */
  box-shadow: 0 0 1.5em #00ffff;

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#welcome-pane button:hover {
  background-color: #00d1d1;
  border-color: #00a3a3;
}

#questions-pane {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

#questionCurrent {
  color: white;
}

#questionTotal {
  color: rgb(210, 0, 148);
}

#questions-pane h2 {
  font-size: 60px;
  text-align: center;
  font-weight: 400;
}
#questions-pane h2 span {
  display: block;
}

#questions-pane .options {
  display: flex;
  flex-wrap: wrap;
}

#questions-pane .options > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

#questions-pane .options .option {
  width: 75%;
  height: 5em;
  background-color: rgba(255, 255, 255, 0.15);

  line-height: 5em;

  margin-bottom: 1em;

  border-radius: 5em;

  border: 3.5px solid rgba(255, 255, 255, 0.518);
  border-bottom: 3.5px solid rgba(255, 255, 255, 0.1);
}

#questions-pane .options .option:hover {
  background: rgb(210, 0, 148);
  background: linear-gradient(
    180deg,
    rgba(210, 0, 148, 1) 0%,
    rgba(210, 0, 148, 1) 69%,
    rgba(144, 0, 128, 1) 100%
  );
  border: 3.5px solid rgba(255, 255, 255, 0.518);
  border-bottom: 3.5px solid rgba(255, 255, 255, 0.25);
}

#questions-pane .question-counter {
  margin-top: 12em;
  text-align: center;
  font-size: 30px;
  font-family: outfit;
  font-weight: 300;
}

.hidden {
  display: none !important;
}
#results-pane .header {
  text-align: center;
  width: 100%;

  margin-bottom: 4em;
}
#results-pane .header h2 {
  font-size: 60px;
  text-align: center;
  font-weight: 800;
}
#results-pane .header h3 {
  font-weight: 400;
}
#results-pane .header h2,
#results-pane .header h3 {
  margin: 0;
  padding: 0;
}

#results-pane .results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 1em;

  width: 100%;
}

#results-pane .results img {
  text-align: center;
  height: 20em;
  filter: contrast(0);
}

.result h3,
.result h4 {
  margin: 0;
  padding: 0;
}
.result h3 {
  font-size: 3em;
  font-weight: 400;
}
.result h4 {
  font-size: 1em;
  font-weight: 400;
}
#results-pane .footer {
  text-align: center;
}
#results-pane button {
  padding: 1em 3em 1em 3em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  font-family: "Outfit", sans-serif;

  background-color: transparent;
  color: white;

  border: 1px solid white;

  transition: background-color 0.2s ease-in-out;
}
#results-pane button:hover {
  background-color: white;
  color: #d20094;
}

#feedback-pane {
  text-align: center;
}

#feedback-pane h1 {
  font-size: 60px;
  font-weight: 800;
}
#feedback-pane p {
  font-size: 20px;
  font-weight: 400;
}
#feedback-pane input {
  background-color: transparent;
  display: block;
  width: 60%;
  margin: 0 auto;

  border: 0;

  border-bottom: 2px solid #d20094;

  padding: 1em;
  margin-bottom: 3em;

  color: white;
}
#feedback-pane input:focus-visible {
  outline: 0;
  border: 0;
  border-bottom: 2px solid #d20094;
}

#feedback-pane button {
  padding: 1em 2.5em 1em 2.5em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  font-family: "Outfit", sans-serif;

  background-color: #00ffff;
  border-color: #00d1d1;

  /* soft glow */
  box-shadow: 0 0 1.5em #00ffff;

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.stars {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 3em auto;
  margin-bottom: 4em;
}
.stars .star {
  width: 3.5em;
  aspect-ratio: 1/1;
  background-image: url(../assets/star.svg);
  background-size: contain;

  filter: brightness(0.25);
}

.stars .star:hover {
  filter: brightness(1);
}
